USE [master]
GO
/****** Object:  Database [DWH_Assignment]    Script Date: 07/05/2026 12:03:17 AM ******/
CREATE DATABASE [DWH_Assignment]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DWH_Assignment', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS01\MSSQL\DATA\DWH_Assignment.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DWH_Assignment_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS01\MSSQL\DATA\DWH_Assignment_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DWH_Assignment].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DWH_Assignment]
GO
/****** Object:  Table [dbo].[air_quality_Q1]    Script Date: 07/05/2026 12:03:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[air_quality_Q1](
	[sensor_id] [varchar](50) NULL,
	[city] [varchar](100) NULL,
	[reading_timestamp] [datetime] NULL,
	[pm25] [float] NULL,
	[pm10] [float] NULL,
	[source_system] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Campaign_Q2_source]    Script Date: 07/05/2026 12:03:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Campaign_Q2_source](
	[ID] [int] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Budget] [decimal](18, 2) NOT NULL,
	[Update_Date] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Campaign_Q2_target]    Script Date: 07/05/2026 12:03:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Campaign_Q2_target](
	[SurrogateKey] [int] IDENTITY(1,1) NOT NULL,
	[ID] [int] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Budget] [decimal](18, 2) NOT NULL,
	[Previous_Name] [nvarchar](100) NULL,
	[Previous_Budget] [decimal](18, 2) NULL,
	[Current_Name] [nvarchar](100) NOT NULL,
	[Current_Budget] [decimal](18, 2) NOT NULL,
	[Start_Date] [date] NOT NULL,
	[End_Date] [date] NULL,
	[Is_Current] [bit] NOT NULL,
	[Update_Date] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SurrogateKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ETL_Watermark]    Script Date: 07/05/2026 12:03:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ETL_Watermark](
	[TableName] [nvarchar](100) NOT NULL,
	[Last_Load_Date] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TableName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Campaign_Q2_target] ADD  DEFAULT ((1)) FOR [Is_Current]
GO
USE [master]
GO

-- Use DWH_Assignment
-- Truncate table [dbo].[air_quality_Q1]