use DWH_Assignment

CREATE TABLE [dbo].[Campaign_Source_Q2] (
    [ID] INT NULL,
    [Name] NVARCHAR(100) NULL,
    [Budget] INT NULL,
    [Update_Date] DATE NULL
);

CREATE TABLE [dbo].[Campaign_Target_Q2] (
    [Campaign_Key] INT IDENTITY(1,1) PRIMARY KEY,
    [Campaign_ID] INT NULL,
    [Historical_Name] NVARCHAR(100) NULL,
    [Current_Name] NVARCHAR(100) NULL,
    [Historical_Budget] INT NULL,
    [Current_Budget] INT NULL,
    [Start_Date] DATE NULL,
    [End_Date] DATE NULL,
    [Active_Flag] INT NULL
);


select * from Campaign_Source_Q2

update Campaign_Source_Q2 set Budget= 10000 where ID= 1001


select * from Campaign_Target_Q2

truncate table Campaign_Target_Q2


update Campaign_Source_Q2 SET Budget = 9998 where ID=1001



















/*
USE [master]
GO
/****** Object:  Database [DWH_Assignment]    Script Date: 03/05/2026 03:57:19 ******/
CREATE DATABASE [DWH_Assignment]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DWH_Assignment', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\DWH_Assignment.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DWH_Assignment_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\DWH_Assignment_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DWH_Assignment].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DWH_Assignment]
GO
/****** Object:  Table [dbo].[Campaign_Source_Q2]    Script Date: 03/05/2026 03:57:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Campaign_Source_Q2](
	[ID] [int] NULL,
	[Name] [nvarchar](100) NULL,
	[Budget] [int] NULL,
	[Update_Date] [date] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Campaign_Target_Q2]    Script Date: 03/05/2026 03:57:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Campaign_Target_Q2](
	[Campaign_Key] [int] IDENTITY(1,1) NOT NULL,
	[Campaign_ID] [int] NULL,
	[Historical_Name] [nvarchar](100) NULL,
	[Current_Name] [nvarchar](100) NULL,
	[Historical_Budget] [int] NULL,
	[Current_Budget] [int] NULL,
	[Start_Date] [date] NULL,
	[End_Date] [date] NULL,
	[Active_Flag] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Campaign_Key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Device_Status_Source]    Script Date: 03/05/2026 03:57:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Device_Status_Source](
	[Device_ID] [varchar](50) NULL,
	[Device_Type] [varchar](100) NULL,
	[Location] [varchar](100) NULL,
	[Status] [varchar](50) NULL,
	[Schedule_Date] [date] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Device_Target_Q3]    Script Date: 03/05/2026 03:57:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Device_Target_Q3](
	[Device_Key] [int] IDENTITY(1,1) NOT NULL,
	[Device_ID] [varchar](50) NULL,
	[Device_Type] [varchar](100) NULL,
	[Location] [varchar](100) NULL,
	[Status] [varchar](50) NULL,
	[Insert_Date] [date] NULL,
	[Active_Flag] [int] NULL,
	[Version_No] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Device_Key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO


*/
